body{
    background-color: rgb(36, 29, 46);
    
}


h2{
 color: white;
 display: flex;
 align-items: flex-start;
 

}
.about{
    text-align: center;
    display: flex;
}
p{
    color: white;
    font-size: 18px;
}
.artikel1{
  margin: 30px;
    display: flex;      
    
}
#text{
    padding: 30px;
    margin: 10px;
}
img{
    width: 200px;
  
}
.portofolio{
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}
.box1{
    color: white;
    text-align: right; 
    justify-items: space-between; 
    align-items: center;
    display: flex;
    width: 100%;
}
.box2{
    color: white;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    width: 100%;   
}
.aboutme{
    color: rgb(124, 120, 120);
    padding: 5px;
}
.work{
    color: rgb(124, 120, 120);
    padding: 5px;
}
.skills{
    color: rgb(124, 120, 120);
    padding: 5px;
}
