body{
    background-color: rgb(26, 24, 24);
    
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.portofolio{
    color: white;
    text-decoration: none;
    
}
h6{
    color: white;
    
}
h1{
     color: rgb(200, 139, 243); 
    
    
}
h2{
    color: white;
    

}
p{
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0 20px;
}

#view{
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    
    
}
#view:hover{
    background-color: blueviolet;
    color: black;
}
#touch{
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    
}
#touch:hover{
    background-color: blueviolet;
    color: black;
}
#box{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}
.linkedin{
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
    border-style: solid;
    border-radius: 20px;
    padding: 8px;
    
}
#box1{
    color: white;
    text-align: right; 
    justify-items: space-between; 
    align-items: center;
    display: flex;
    width: 100%;
    
}
.box2{
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
.box3{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 85vh;
    
}
.box4{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;

}
.box5{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 78vh;
    justify-content: space-between;
}

.label{
    display: flex;
    justify-content: space-between;
}

.label3{
    padding-right: 48px;
}
.label4{
    padding-right: 100px;
}

.box5 > span{
    display: flex;
}
.about{
    color: rgb(124, 120, 120);
    padding: 5px;
}
.work{
    color: rgb(124, 120, 120);
    padding: 5px;
}
.skills{
    color: rgb(124, 120, 120);
    padding: 5px;
}
